/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: black;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

/* Main background */
main {
    min-height: 100vh;
    background-image: url("../assets/images/P3.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 1s ease-out;
}

/* Loading box */
#loadingBox {
    background: rgba(0, 0, 0, 0.75);
    padding: 40px 60px;
    text-align: center;

    border: 2px solid #00f2ff;
    box-shadow: 0 0 14px rgba(0, 242, 255, 0.6);
}

/* Image */
#loadingImage {
    width: 450px;
    margin-bottom: 25px;
    border: 1px solid #00f2ff;
}

/* Loading text */
#loadingText {
    font-size: 22px;
    margin-bottom: 20px;
    color: #00f2ff;
}

/* Progress bar container */
#progressContainer {
    width: 450px;
    height: 14px;
    background-color: #222;
    border: 1px solid #00f2ff;
    overflow: hidden;
}

/* Progress bar */
#progressBar {
    height: 100%;
    width: 0%;
    background-color: #00f2ff;
    transition: width 0.1s linear;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
